.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  overflow: hidden;
}

.header__background {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-color: rgba(0, 0, 0, 0.045);

  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.header:hover .header__background {
  transform: translateY(0);
}

.header__top,
.header__navigation {
  position: relative;
  z-index: 1;
}

.header__top {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  gap: 1rem;
  margin-right: 25px;
  color: black;
  padding-top: 45px;
}

.header__actions a {
  position: relative;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__actions a sup {
  position: absolute;
  left: 100%;
  overflow: hidden;
  max-width: var(--page-margin);
}

.header__actions svg {
  width: 2.5rem;
}

.header__navigation {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 15rem;
}

.header__navigation a {
  font-family: var(--font-primary--family);
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: rgba(66, 62, 58, 0.901);
  position: relative;
  transform: translateY(-500%);
  transition: transform 0.8s ease;
}

.header:hover .header__navigation a {
  transform: translateY(0);
}

.header__navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1.7px;
  background-color: currentColor;
  transition: width 0.6s ease;
}

.header__navigation a:hover::after {
  width: 100%;
}

.header__title {
  font-size: 55px;
  margin-left: 1rem;
  padding-top: 25px;
}

.header__title a {
  text-decoration: none;
  color: rgba(44, 42, 40, 0.882);
}

.header-desktop {
  display: block;
}

.header-mobile {
  display: none;
}

@media screen and (max-width: 749px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}
