.hero {
  width: 100%;
  min-height: 100dvh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: left;

  background-size: cover;
  background-position: top;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  margin-left: 6rem;
  gap: 1rem;
}

.hero__content h1 {
  margin: 0;
  font-family: var(--font-primary--family);
  color: rgba(0, 0, 0, 0.778);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.hero__content p {
  margin: 1.5rem 0 2rem;
  font-family: var(--font-primary--family);
  color: rgba(0, 0, 0, 0.727);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 700px;
  letter-spacing: 0.5px;
}

.hero__content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.9rem 2.5rem;

  font-family: var(--font-primary--family);
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  text-decoration: none;

  color: black;
  background-color: transparent;

  border: 1px solid rgba(0, 0, 0, 0.31);

  transition: background-color 0.7s ease, color 0.8s ease;
}

.hero__content a:hover {
  background-color: rgba(0, 0, 0, 0.853);
  color: rgba(255, 255, 255, 0.769);
}

@media screen and (max-width: 749px) {
  .hero {
    justify-content: flex-start;
    background-position: center top;
  }

  .hero__content {
    align-items: flex-start;
    text-align: left;
    margin-left: 0;
    padding: 0 1.25rem;
    max-width: 100%;
  }

  .hero__content h1 {
    font-size: 2.7rem;
    width: 95%;
  }

  .hero__content p {
    font-size: 1rem;
    max-width: 70%;
  }
}
