.product-info {
  display: flex;
  flex-direction: column;

  padding: 10px 50px;
  gap: 1.5rem;
}

.product-info h1 {
  margin: 0;

  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.product-info__price {
  margin: 18px 0 25px;

  font-size: 18px;
  font-weight: 500;
}

.product-info__description {
  margin-bottom: 35px;

  color: #514840;
  font-size: 15px;
  line-height: 1.8;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-form__quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantity-selector {
  display: flex;
  align-items: center;

  width: fit-content;

  border: 1px solid #b9aaa0;
}

.quantity-selector button,
.quantity-selector input {
  width: 42px;
  height: 42px;

  border: none;
  background: transparent;

  text-align: center;
}

.quantity-selector button {
  cursor: pointer;
}

.quantity-selector input {
  appearance: textfield;
}

.product-form__submit {
  width: 100%;
  min-height: 50px;

  border: none;
  background: #2f2925;
  color: white;

  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 1.5rem;

  cursor: pointer;
}
