.product-card {
  margin-top: 2rem;
  cursor: pointer;
}

.product-card__media {
  position: relative;
  width: 80%;
  overflow: hidden;
}

.product-card__media img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product-card__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: rgba(0, 0, 0, 0.283);

  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.product-card__media:hover .product-card__overlay {
  transform: translateY(0);
}

.product-card__overlay a {
  color: rgba(255, 255, 255, 0.842);
  text-decoration: none;
}

.product-card__overlay h2 {
  margin: 0;
  font-family: var(--font-primary--family);
  font-size: 1.4rem;
  font-weight: 400;
}

.product-card__overlay p {
  margin: 0;
  font-family: var(--font-primary--family);
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.842);
}
